form {
    padding: 20px;
}

.fingerprint {
    border: 1px solid black;
    margin-top: 20px;
}

.btn-fingerprint {
    margin-top: 10px;
}

.fingerprint, .btn-fingerprint {
    width: 170px;
}

.btn-success {
    margin-top: 30px;
}