<form [formGroup]="buscaCandidatoForm" novalidate>

  <div class="row">
    <div class="col-xs-2 col-sm-2">
      <input class="form-control input-lg" formControlName="primeiroNumero" autocomplete="off">
    </div>

    <div class="col-xs-2 col-sm-2">
      <input class="form-control input-lg" formControlName="segundoNumero" autocomplete="off">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-sm-2">
      <button class="btn btn-primray btn-lg" (click)="buscarCandidato()">Buscar</button>
    </div>
  </div>
</form>