<form [formGroup]="buscaCandidatoForm" novalidate>

  <div class="row">
    <div class="col-xs-1 col-sm-1">
      <input class="form-control input-lg" formControlName="primeiroNumero" autocomplete="off" (keyup)="num2.focus()">
    </div>

    <div class="col-xs-1 col-sm-1">
      <input #num2 class="form-control input-lg" formControlName="segundoNumero" autocomplete="off" (keyup)="botao.focus()">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-sm-2">
      <button #botao class="btn btn-primary btn-lg" (click)="buscarCandidato()">Buscar</button>
    </div>
  </div>
</form>