<section class="content-header">
  <h1>
    Dashboard
  </h1>
</section>

<section class="content">
  <div class="grafico-barra">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="dataChart" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [barPadding]="50" [animations]="animations">
    </ngx-charts-bar-vertical>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
        Dados
      </h3>
    </div>

    <div class="box-body">
      <div class="row">
        <div class="col">
          <h4> Total de votos válidos: {{ votosValidos }}</h4>
          <ul *ngFor="let data of dataChart; let i = index;">
            <li *ngIf="i != (dataChart.length - 1)">{{ data.name }}: {{ ((data.value * 100) / totalDeVotos).toFixed(2) }} %</li>
          </ul>
        </div>

        <div class="col">
          <h4> Total de votos inválidos: {{ votosInvalidos }}</h4>
          <ul *ngFor="let data of dataChart; let i = index;">
            <li *ngIf="i == (dataChart.length - 1)">{{ data.name }}: {{ ((data.value * 100) / totalDeVotos).toFixed(2) }} %</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4> Total de votos no geral: {{ totalDeVotos }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
        Candidatos
      </h3>
    </div>

    <div class="box-body">
      <div class="box-candidatos">
        <div *ngFor="let candidato of candidatos">
          <div class="circle" placement="bottom" [ngbTooltip]="conta">
            <ng-template #conta>
              <p class="conta-tooltip"><b>{{ candidato.contaBlockchain }}</b></p>
            </ng-template>
            <img [src]="candidato.fotoPath">
          </div>
          <div class="text-center">
            <p>{{ candidato.nome }}
              {{ candidato.partido}}</p>
          </div>
        </div>

        <div>
          <div class="circle" placement="bottom" [ngbTooltip]="contaNB">
            <ng-template #contaNB>
              <p class="conta-tooltip"><b>{{ contasBrancoENulo[0] }}</b></p>
              <p class="conta-tooltip"><b>{{ contasBrancoENulo[1] }}</b></p>
            </ng-template>
            <img src="assets/img/bn.png">
          </div>
          <div class="text-center">
            <p>Brancos/Nulos</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
        Resultados da Votação
      </h3>
    </div>

    <div class="box-body">
      <div class="list-group">

        <div class="list-group-item">
          <div class="item">
            <div class="conta">
              Origem do Voto
            </div>

            <div class="seta"></div>

            <div class="conta">
              Destino do Voto
            </div>

            <span class="voto">
              <div id="qtd">Voto</div>

              <div id="tx">Link</div>
            </span>
          </div>
        </div>

        <div class="list-group-item" *ngFor="let voto of votos">
          <div class="item">
            <div class="conta">
              <a target="_blank" href="">{{ voto.contaBlockchainOrigem }}</a>
            </div>

            <img class="seta" src="assets/img/seta.png" />

            <div class="conta">
              <a target="_blank" href="">{{ voto.contaBlockchainDestino }}</a>
            </div>

            <span class="voto">
              <div id="qtd">{{ voto.qtdToken }} Token</div>

              <div id="tx"><a target="_blank" href="https://rinkeby.etherscan.io/tx/{{voto.hashTransacao}}"><i class="fa fa-external-link"></i></a></div>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>