<section class="content-header">
  <h1>
    Dashboard
  </h1>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">

      <h3 class="box-title">
        Resultados da Votação
      </h3>

    </div>

    <div class="box-body" *ngIf="!candidato">
      <div class="list-group">

        <div class="list-group-item">
          <div class="item">
            <div class="conta">
              Origem do Voto
            </div>

            <div class="seta" ></div>
            
            <div class="conta">
              Destino do Voto
            </div>

            <span class="voto">
              <div id="qtd">Voto</div>

              <div id="tx">Link</div>
            </span>
          </div>
        </div>

        <div class="list-group-item">
          <div class="item">
            <div class="conta">
              <a target="_blank" href="">0x627306090abab3a6e1400e9345bc60c78a8bef57</a>
            </div>

            <img class="seta" src="assets/img/seta.png" />

            <div class="conta">
              <a target="_blank" href="">0xc5fdf4076b8f3a5357c5e395ab970b5b54098fef</a>
            </div>

            <span class="voto">
              <div id="qtd">1 Token</div>

              <div id="tx"><a target="_blank" href=""><i class="fa fa-external-link"></i></a></div>
            </span>
          </div>
        </div>

        <div class="list-group-item">
          <div class="item">
            <div class="conta">
              <a target="_blank" href="">0x627306090abab3a6e1400e9345bc60c78a8bef57</a>
            </div>

            <img class="seta" src="assets/img/seta.png" />

            <div class="conta">
              <a target="_blank" href="">0xc5fdf4076b8f3a5357c5e395ab970b5b54098fef</a>
            </div>

            <span class="voto">
              <div id="qtd">1 Token</div>

              <div id="tx"><a target="_blank" href=""><i class="fa fa-external-link"></i></a></div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>