<section class="content-header">
  <h1>
    Escolha o seu candidato
  </h1>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">

      <h3 class="box-title">
        Seu voto para
      </h3>

    </div>

    <div class="box-body" *ngIf="!candidato">
      <vg-busca-candidato (candidato)="getCandidato($event)"></vg-busca-candidato>
    </div>

    <div class="box-body" *ngIf="candidato">
      <vg-confirma-candidato  [recebeCandidato]="candidato"></vg-confirma-candidato>
    </div>
  </div>
</section>