.box-body {
    margin: 0 20px 0 20px;
}

.box-imgs {

}

.box-informacoes {
    font-size: 23px;
    margin-top: 40px;
}

.box-informacoes > .row {
    margin-bottom: 10px;
}

.box-foto {
    padding: 2px 17px 2px 17px;
    margin-bottom: 10px;
}

.foto-principal {
    width: 240px;
}

.foto-vice {
    width: 110px;
}

.label-foto-principal {
    width: 240px;
    text-align: center;
    background-color: #f1f1d1
}

.label-foto-vice {
    width: 110px;
    text-align: center;
    background-color: #f1f1d1
}

.box-btn-voto {
    margin-top: 20px;
}

.btn-voto {
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.row {
    display: block;
}

