<!-- <h2 class="text-center">{{ recebeCandidato.cargo }}(a)</h2> -->
<div class="box-body">

  <div class="row">
    <div class="col-md-4 box-imgs">
      <div class="box-foto img-thumbnail">
        <div class="row">
          <img class="foto-principal" [src]="recebeCandidato.fotoPath">
        </div>

        <div class="row label-foto-principal">
          <label>{{ recebeCandidato.cargo }}(a)</label>
        </div>
      </div>

      <div class="box-foto img-thumbnail">
        <div class="row">
          <img class="foto-vice img-responsive" [src]="recebeCandidato.vice.fotoPath">
        </div>

        <div class="row label-foto-vice">
          <label>Vice-{{ recebeCandidato.cargo }}(a)</label>
        </div>
      </div>
    </div>

    <div class="col-md-8 box-informacoes">
      <div class="row">
        Conta Blockchain:
        <a target="_blank" href="https://rinkeby.etherscan.io/address/{{recebeCandidato.contaBlockchain}}">
          {{ recebeCandidato.contaBlockchain }}
        </a>
      </div>
      <div class="row">
        Número: {{ recebeCandidato.numero }}
      </div>
      <div class="row">
        Nome: {{ recebeCandidato.nome | uppercase }}
      </div>
      <div class="row">
        Partido: {{ recebeCandidato.partido | uppercase }}
      </div>
      <div class="row">
        Vice-{{ recebeCandidato.cargo }}(a): {{ recebeCandidato.vice.nome | uppercase }}
      </div>
    </div>
  </div>

  
</div>