<div class="box-body" *ngIf="!candidato">

  <form [formGroup]="associaCandidatoForm" novalidate>
    <div class="row">
      <h3 class="box-title">
        Dados pessoais
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="nome" placeholder="Nome" />
      </div>

      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="tituloEleitoral" placeholder="Título Eleitoral" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="identidade" placeholder="Identidade" />
      </div>

      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="cpf" placeholder="CPF" />
      </div>
    </div>


    <div class="row">
      <h3 class="box-title">
        Informações do Candidato
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="partido" placeholder="Partido" />
      </div>

      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="numeroCandidato" placeholder="Número do Candidato" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="cargoPretendido" placeholder="Cargo Pretendido" />
      </div>

      <div class="col-sm-5 col-xs-5">
        <input type="text" class="form-control" formControlName="nomeVice" placeholder="Nome do Vice" />
      </div>
    </div>

    <div class="row">
      <h3 class="box-title">
        Upload das Fotos
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-2 col-xs-2 text-center">
        <div class="card" style="width: 18rem;">
          <img *ngIf="candidatoFotoPath" class="card-img-top" [src]="candidatoFotoPath || ''">
          <div class="card-body">
            <h5 class="card-title">Candidato</h5>
            <a href="javascript:void(0)" (click)="fotoCandidadato.click()" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>

      <input id="candidato" type="file" #fotoCandidadato class="form-control" formControlName="fotoCandidato" hidden
        ng2FileSelect [uploader]="uploader" (change)="readURL(fotoCandidadato, $event.target.id)" />

      <input id="vice" type="file" #fotoVice class="form-control" formControlName="fotoVice" hidden ng2FileSelect
        [uploader]="uploader" (change)="readURL(fotoVice, $event.target.id)" />

      <div class="col-sm-2 col-xs-2 text-center">
        <div class="card" style="width: 18rem;">
          <img *ngIf="viceFotoPath" class="card-img-top" [src]="viceFotoPath || ''">
          <div class="card-body">
            <h5 class="card-title">Vice</h5>
            <a href="javascript:void(0)" (click)="fotoVice.click()" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12" align="center">
        <button class="btn btn-success btn-lg" (click)="associarEleitor()">Associar</button>
      </div>
    </div>
  </form>
</div>